.persona-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.persona {
    width: 300px;
    margin: 50px;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.persona h2 {
    margin-top: 5px;
    margin-bottom: 10px;
}

.persona img {
    width: 150px;
    height: 150px;
    margin-bottom: 0px;
}