/* General styles */
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: rgb(241, 246, 248);
}

header {
    background-color: rgb(204, 222, 230);
    /*background-image: url("back_header_aim.png");*/
    color: rgb(7, 0, 87);
    padding: 30px 0;
    width: 100%;
    /*position: fixed;
    z-index: 10;*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 30px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav h1 {
    font-size: 32px;
    color:black;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(7, 0, 87);
    font-size: 26px;
}

.logo img {
    width: 90px;
    margin-left: 15px;
}

main {
    padding: 25px;
}

.description {
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 22px;
}

.description b {
    margin-block-start: 30px;
    margin-block-end: 0px;
}

.description p {
    margin-block-start: 10px;
    margin-block-end: 30px;
}

.description ul {
    margin-block-start: 10px;
    margin-block-end: 20px;
}

.description ul li {
    margin-bottom: 4px;
}

.description figure {
    margin-left: 28%;
    margin-bottom: 40px;
    margin-top: 20px;
    display: block;
}

footer {
    background-color: rgb(204, 222, 230);
    color: rgb(7, 0, 87);
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer h3 {
    margin-bottom: 5px;
    margin-left: 70px;
    margin-right: 70px;
    font-size: 24px;
}

#email_link {
    margin-bottom: 20px;
    margin-left: 70px;
    margin-block-start: 5px;
    font-size: 22px;
    color: #070059;
}

.social-media ul {
    display: flex;
    justify-content: right;
    list-style-type: none;
    padding: 0;
    margin-right: 70px;
    margin-block-start: 10px;
    margin-bottom: 25px;
}

.social-media ul li {
    display: inline;
    margin-right: 30px;
}

.social-media ul li img {
    width: 30px;
    height: 30px;
}
