/* Team page specific styles */
.team {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.member {
    width: 300px;
    margin: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #ddd;
    text-align: center;
}

.member img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 0px;
}

.member p {
    margin-block-start: 10px;
    margin-block-end: 15px;
}

.member h2 {
    margin-block-start: 5px;
    margin-block-end: 10px;
    margin-bottom: 10px;
}

.member a {
    text-decoration: none;
    color: #333;
    background-color: #ddd;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.member a:hover {
    background-color: #999;
}

.student-info {
    margin-left: 30px;
    margin-right: 30px;
}

.expandable-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.expandable-card h2 {
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.expandable-card p,
.expandable-card ul {
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 22px;
}

li {
    margin-bottom: 4px;
}

.student-researchers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.student {
    width: 25%;
}

.student img {
    width: 40%;
    border-radius: 50%;
    margin-bottom: 0px;
    margin-top: 20px;
    margin-left: 30%;
}

.student p {
    margin-block-start: 10px;
    margin-block-end: 10px;
    font-size: 20px;
    text-align: center;
}

ul {
    list-style-type: none;
}
